Pengenalan Statistika

Secara definisi, statistika adalah bidang studi yang mempelajari bagaimana mengumpulkan dan menganalisa data. Jika mengambil definisi yang lebih lengkap, maka statistika dapat didefinisikan sebagai ilmu yang mempelajari cara pengumpulan data, menganalisis data untuk mendapatkan kesimpulan informasi sampai dapat dijadikan dasar pembuatan keputusan atau kebijakan.

Di dalam mempelajari statistika, akan mempelajari bagaimana caranya mengorganisir dan membuat kesimpulan dari data. Kegiatan mengorganisir dan membuay kesimpulan dari data disebut sebagai statistika deskriptif. Ada banyak cara bagaimana kita menyimpulkan suatu data, misalnya dengan membuat grafik atau dengan angka, misalnya mengambil suatu rata-rata dari data.

Selanjutnya ketika harus mengambil keputusan dari data yang sudah diolah, kemudian akan menggunakan statistika inferensial sehingga dapat mengambil keputusan yang benar dari data yang juga sudah diolah dengan benar

Parameter adalah penjelasan atas populasi sedangkan statistik hanya menjelaskan sampel dari populasi. Untuk kasus terkait segmentasi pasar, mengukur revenue dari setiap orang di dalam segmen adalah parameter sedangkan jika kita hanya mengambil 20% dari tiap segmen hal ini dikatakan sebagai statistik.

Data Kualitatif dan Data Kuantitatif

Terdapat dua kategori data yang terdapat pada populasi atau sampel, yaitu data kualitatif dan data kuantitatif.

Data kualitatif adalah data yang diperoleh dari mengkategorikan atau menjelaskan suatu atribut dari populasi atau sampel. Biasanya disebut juga sebagai data kategorik. Beberapa contoh data kualitatif misalnya warna rambut, golongan darah, nama jalan, nama produk yang digunakan dan lain sebagainya.Biasanya data kualitatif selalu disebutkan dalam bentuk kata ataupun simbol.

Data kuantitatif adalah data yang diperoleh dari ukuran atau hitungan di suatu populasi atau sampel. Data kuantitatif selalu berbentuk angka. Data seperti gaji, berat badan, populasi di suatu negara, dan jumlah pelanggan yang dimiliki suatu e-commerce termasuk data kuantitatif. Data kuantitatif sendiri dapat dibagi menjadi dua yaitu data diskrit dan data kontinu.

Data yang diperoleh dari hasil perhitungan adalah data diskrit: jumlah pelanggan, jumlah produk, dan jumlah telefon yang diterima oleh customer service per harinya adalah beberapa contoh data diskrit.

Data yang diperoleh dari hasil perhitungan namun dapat memuat rasio, desimal, atau bilangan irasional adalah data kontinu: berat badan, tinggi badan, waktu, dan gaji adalah beberapa contoh data kontinu.


    Skala Nominal

Skala nominal adalah skala yang digunakan untuk mengkategorikan suatu objek pengamatan dengan objek pengamatan lainnya. Sebagai contoh yang termasuk skala nominal seperti gender, kategori barang, ras, status pernikahan dan lain sebagainya

    Skala Ordinal

Skala ordinal adalah skala yang digunakan untuk mengurutkan suatu objek pengamatan dimana suatu titik pengamatan memiliki nilai yang lebih rendah atau tinggi dibanding nilai lainnya. Sebagai contoh yang termasuk skala nominal adalah kelas, jabatan, tingkat pendidikan, dan sebagainya


    Skala Interval

Skala interval adalah skala yang digunakan untuk tidak hanya untuk mengklasifikasikan maupun memberikan tingkatan pada suatu titik pengamatan, namun kita dapat mengukur seberapa besar nilai antara suatu titik pengamatan dengan titik pengamatan lainnya. Beberapa contoh yang termasuk skala interval diantaranya adalah suhu tubuh dan jarak

    Skala Rasio

Skala rasio memiliki kemiripan dengan skala interval, perbedaannya terletak pada nilai 0 pada skala rasio. Berbeda dengan skala interval yang tidak memiliki nilai 0 yang tidak pasti.

Load Library

Biasanya pada awal mula sebelum melakukan pengolahan data kita memanggil library yang diinginkan untuk digunakan dalam analisa data, dalam hal ini kita akan memuat numpy dan pandas.

In [1]:
# memuat numpy sebagai np
import numpy as np
 
# memuat pandas sebagai pd
import pandas as pd


Load Dataset

Pada tahap pertama ketika ingin menganalisa data kita biasanya memuat data yang disimpan di salah satu folder untuk dimuat ke IDE atau interactive notebook seperti Jupyter. Untuk memuat data dalam format csv kita dapat menggunakan method .read_csv() dari pandas

In [3]:
# memuat data bernama 'dataset_statistics.csv' dan memasukkan hasilnya ke dalam 'raw_data'
raw_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/dataset_statistic.csv", sep=';')


Inspeksi Data

In [4]:
print (raw_data)
# melihat 10 data pada baris pertama
print (raw_data.head(10))

# melihat 5 data pada baris terakhir
print (raw_data.tail())

    ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0              1     Arif              1  ...        4   400000                 2
1              2     Dian              2  ...        4  1000000                 2
2              3    Dinda              2  ...        3   750000                 3
3              4    Fajar              1  ...        2   200000                 3
4              5      Ika              2  ...        4  1000000                 2
5              6    Ilham              1  ...        4   600000                 3
6              7    Indra              1  ...        5   750000                 1
7              8  Kartika              2  ...        3   900000                 3
8              9  Lestari              2  ...        2   600000                 1
9             10      Lia              2  ...        5  1500000                 1
10            11    Maria              2  ...        4   400000                 3
11            12     Maya              2  ...        5   750000                 3
12            13     Mila              2  ...        1   200000                 2
13            14    Nurul              2  ...        5  1250000                 1
14            15    Retno              2  ...        4   800000                 2
15            16     Rini              2  ...        4   600000                 1
16            17    Rizki              1  ...        5  1000000                 3
17            18     Sari              2  ...        2   500000                 1
18            19     Tyas              2  ...        4   400000                 3
19            20    Wahyu              1  ...        3   600000                 1

[20 rows x 9 columns]
   ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0             1     Arif              1  ...        4   400000                 2
1             2     Dian              2  ...        4  1000000                 2
2             3    Dinda              2  ...        3   750000                 3
3             4    Fajar              1  ...        2   200000                 3
4             5      Ika              2  ...        4  1000000                 2
5             6    Ilham              1  ...        4   600000                 3
6             7    Indra              1  ...        5   750000                 1
7             8  Kartika              2  ...        3   900000                 3
8             9  Lestari              2  ...        2   600000                 1
9            10      Lia              2  ...        5  1500000                 1

[10 rows x 9 columns]
    ID Pelanggan   Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
15            16   Rini              2  ...        4   600000                 1
16            17  Rizki              1  ...        5  1000000                 3
17            18   Sari              2  ...        2   500000                 1
18            19   Tyas              2  ...        4   400000                 3
19            20  Wahyu              1  ...        3   600000                 1

[5 rows x 9 columns]

Metode Shape

Berapa banyak baris data dan fitur yang dataset punya?

In [5]:
# melihat dimensi dari raw_data
print (raw_data.shape)

# mengambil jumlah data
print (raw_data.shape[0])

(20, 9)
20


Melihat Kolom Dalam Dataset

Kolom apa saja yang terdapat dalam dataset?

In [6]:
print(raw_data)
print(raw_data.columns)

    ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0              1     Arif              1  ...        4   400000                 2
1              2     Dian              2  ...        4  1000000                 2
2              3    Dinda              2  ...        3   750000                 3
3              4    Fajar              1  ...        2   200000                 3
4              5      Ika              2  ...        4  1000000                 2
5              6    Ilham              1  ...        4   600000                 3
6              7    Indra              1  ...        5   750000                 1
7              8  Kartika              2  ...        3   900000                 3
8              9  Lestari              2  ...        2   600000                 1
9             10      Lia              2  ...        5  1500000                 1
10            11    Maria              2  ...        4   400000                 3
11            12     Maya              2  ...        5   750000                 3
12            13     Mila              2  ...        1   200000                 2
13            14    Nurul              2  ...        5  1250000                 1
14            15    Retno              2  ...        4   800000                 2
15            16     Rini              2  ...        4   600000                 1
16            17    Rizki              1  ...        5  1000000                 3
17            18     Sari              2  ...        2   500000                 1
18            19     Tyas              2  ...        4   400000                 3
19            20    Wahyu              1  ...        3   600000                 1

[20 rows x 9 columns]
Index(['ID Pelanggan', 'Nama', 'Jenis Kelamin', 'Pendapatan', 'Produk',
       'Harga', 'Jumlah ', 'Total', 'Tingkat Kepuasan'],
      dtype='object')

Melihat Kolom Dalam Dataset

Kolom apa saja yang terdapat dalam dataset?

In [7]:
print(raw_data)
print(raw_data.columns)

    ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0              1     Arif              1  ...        4   400000                 2
1              2     Dian              2  ...        4  1000000                 2
2              3    Dinda              2  ...        3   750000                 3
3              4    Fajar              1  ...        2   200000                 3
4              5      Ika              2  ...        4  1000000                 2
5              6    Ilham              1  ...        4   600000                 3
6              7    Indra              1  ...        5   750000                 1
7              8  Kartika              2  ...        3   900000                 3
8              9  Lestari              2  ...        2   600000                 1
9             10      Lia              2  ...        5  1500000                 1
10            11    Maria              2  ...        4   400000                 3
11            12     Maya              2  ...        5   750000                 3
12            13     Mila              2  ...        1   200000                 2
13            14    Nurul              2  ...        5  1250000                 1
14            15    Retno              2  ...        4   800000                 2
15            16     Rini              2  ...        4   600000                 1
16            17    Rizki              1  ...        5  1000000                 3
17            18     Sari              2  ...        2   500000                 1
18            19     Tyas              2  ...        4   400000                 3
19            20    Wahyu              1  ...        3   600000                 1

[20 rows x 9 columns]
Index(['ID Pelanggan', 'Nama', 'Jenis Kelamin', 'Pendapatan', 'Produk',
       'Harga', 'Jumlah ', 'Total', 'Tingkat Kepuasan'],
      dtype='object')

Metode Isna

Ada berapa banyak data yang hilang dari dataset?

In [8]:
print (raw_data.isna())
print (raw_data.isna().sum())

    ID Pelanggan   Nama  Jenis Kelamin  ...  Jumlah   Total  Tingkat Kepuasan
0          False  False          False  ...    False  False             False
1          False  False          False  ...    False  False             False
2          False  False          False  ...    False  False             False
3          False  False          False  ...    False  False             False
4          False  False          False  ...    False  False             False
5          False  False          False  ...    False  False             False
6          False  False          False  ...    False  False             False
7          False  False          False  ...    False  False             False
8          False  False          False  ...    False  False             False
9          False  False          False  ...    False  False             False
10         False  False          False  ...    False  False             False
11         False  False          False  ...    False  False             False
12         False  False          False  ...    False  False             False
13         False  False          False  ...    False  False             False
14         False  False          False  ...    False  False             False
15         False  False          False  ...    False  False             False
16         False  False          False  ...    False  False             False
17         False  False          False  ...    False  False             False
18         False  False          False  ...    False  False             False
19         False  False          False  ...    False  False             False

[20 rows x 9 columns]
ID Pelanggan        0
Nama                0
Jenis Kelamin       0
Pendapatan          0
Produk              0
Harga               0
Jumlah              0
Total               0
Tingkat Kepuasan    0
dtype: int64

Metode Describe

In [9]:
print (raw_data.describe())

# Mencari nilai maksimum dari tiap kolom
raw_data.max()
 
# Mencari nilai maksimum dari kolom 'Harga'
raw_data['Harga'].max()
 
# Mencari nilai minimum dari kolom 'Harga'
raw_data['Harga'].min()

       ID Pelanggan  Jenis Kelamin  ...         Total  Tingkat Kepuasan
count      20.00000      20.000000  ...  2.000000e+01         20.000000
mean       10.50000       1.700000  ...  7.100000e+05          2.050000
std         5.91608       0.470162  ...  3.338768e+05          0.887041
min         1.00000       1.000000  ...  2.000000e+05          1.000000
25%         5.75000       1.000000  ...  4.750000e+05          1.000000
50%        10.50000       2.000000  ...  6.750000e+05          2.000000
75%        15.25000       2.000000  ...  9.250000e+05          3.000000
max        20.00000       2.000000  ...  1.500000e+06          3.000000

[8 rows x 7 columns]

100000

Metode Sum

In [10]:
# menghitung jumlah dari semua kolom
print (raw_data.sum())
 
# menghitung jumlah dari semua kolom bertipe data numerik saja
raw_data.sum(numeric_only=True)
 
# menghitung jumlah dari kolom 'Harga' dan 'Pendapatan'
raw_data[['Harga', 'Pendapatan']].sum()

ID Pelanggan                                                      210
Nama                ArifDianDindaFajarIkaIlhamIndraKartikaLestariL...
Jenis Kelamin                                                      34
Pendapatan                                                   23200000
Produk                                           ADDADBBEEEABCDCBCDAC
Harga                                                         3950000
Jumlah                                                             73
Total                                                        14200000
Tingkat Kepuasan                                                   41
dtype: object

Harga          3950000
Pendapatan    23200000
dtype: int64

Manipulasi Dataframe - Memilih Kolom dan Baris

Terkadang kita hanya ingin melakukan analisa sebagian kecil dari data atau hanya beberapa kolom saja, untuk itu kita dapat melakukan slice-and-dice pada data yang kita punya.

In [11]:
# Memilih kolom 'Pendapatan' saja
print (raw_data['Pendapatan'])
 
# Memilih kolom 'Jenis Kelamin' dan 'Pendapatan'
print (raw_data[['Jenis Kelamin', 'Pendapatan']])

0      600000
1     1200000
2      950000
3      400000
4     1200000
5      800000
6      950000
7     1100000
8      800000
9     1700000
10     600000
11     950000
12     400000
13    6450000
14    1000000
15     800000
16    1200000
17     700000
18     600000
19     800000
Name: Pendapatan, dtype: int64
    Jenis Kelamin  Pendapatan
0               1      600000
1               2     1200000
2               2      950000
3               1      400000
4               2     1200000
5               1      800000
6               1      950000
7               2     1100000
8               2      800000
9               2     1700000
10              2      600000
11              2      950000
12              2      400000
13              2     6450000
14              2     1000000
15              2      800000
16              1     1200000
17              2      700000
18              2      600000
19              1      800000

Metode Loc
Untuk memilih baris, kita dapat menggunakan [m:n] untuk mengambil baris data ke-m sampai ke-(n-1) atau bisa juga menggunakan method loc untuk pemilihan baris yang lebih spesifik.

In [14]:
# mengambil data dari baris ke-0 sampai baris ke-(10-1) atau baris ke-9
print(raw_data[:10])
 
# mengambil data dari baris ke-3 sampai baris ke-(5-1) atau baris ke-4
print(raw_data[3:5])
 
# mengambil data pada baris ke-1, ke-3 dan ke-10
print(raw_data.loc[[1,3,10]])

# Mengambil kolom 'Jenis Kelamin' dan 'Pendapatan' dan ambil baris ke-1 sampai ke-9
print(raw_data[['Jenis Kelamin', 'Pendapatan']][1:10])
 
# Mengambil kolom 'Harga' dan 'Tingkat Kepuasan' dan ambil baris ke-1, ke-10 dan ke-15
print(raw_data[['Harga', 'Tingkat Kepuasan']].loc[[1,10,15]])

   ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0             1     Arif              1  ...        4   400000                 2
1             2     Dian              2  ...        4  1000000                 2
2             3    Dinda              2  ...        3   750000                 3
3             4    Fajar              1  ...        2   200000                 3
4             5      Ika              2  ...        4  1000000                 2
5             6    Ilham              1  ...        4   600000                 3
6             7    Indra              1  ...        5   750000                 1
7             8  Kartika              2  ...        3   900000                 3
8             9  Lestari              2  ...        2   600000                 1
9            10      Lia              2  ...        5  1500000                 1

[10 rows x 9 columns]
   ID Pelanggan   Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
3             4  Fajar              1  ...        2   200000                 3
4             5    Ika              2  ...        4  1000000                 2

[2 rows x 9 columns]
    ID Pelanggan   Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
1              2   Dian              2  ...        4  1000000                 2
3              4  Fajar              1  ...        2   200000                 3
10            11  Maria              2  ...        4   400000                 3

[3 rows x 9 columns]
   Jenis Kelamin  Pendapatan
1              2     1200000
2              2      950000
3              1      400000
4              2     1200000
5              1      800000
6              1      950000
7              2     1100000
8              2      800000
9              2     1700000
     Harga  Tingkat Kepuasan
1   250000                 2
10  100000                 3
15  150000                 1


Rata-rata (Mean)

In [16]:
# mengambil hanya data untuk produk 'A'
produk_A = raw_data[raw_data['Produk'] == 'A']
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame
print (produk_A['Pendapatan'].mean())
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame dengan numpy
print (np.mean(produk_A['Pendapatan']))

550000.0
550000.0

Median

In [17]:
print (raw_data)
# Hitung median dari pendapatan menggunakan pandas
print (produk_A['Pendapatan'].median())
 
# Hitung median dari pendapatan menggunakan numpy
print (np.median(produk_A['Pendapatan']))

    ID Pelanggan     Nama  Jenis Kelamin  ...  Jumlah     Total  Tingkat Kepuasan
0              1     Arif              1  ...        4   400000                 2
1              2     Dian              2  ...        4  1000000                 2
2              3    Dinda              2  ...        3   750000                 3
3              4    Fajar              1  ...        2   200000                 3
4              5      Ika              2  ...        4  1000000                 2
5              6    Ilham              1  ...        4   600000                 3
6              7    Indra              1  ...        5   750000                 1
7              8  Kartika              2  ...        3   900000                 3
8              9  Lestari              2  ...        2   600000                 1
9             10      Lia              2  ...        5  1500000                 1
10            11    Maria              2  ...        4   400000                 3
11            12     Maya              2  ...        5   750000                 3
12            13     Mila              2  ...        1   200000                 2
13            14    Nurul              2  ...        5  1250000                 1
14            15    Retno              2  ...        4   800000                 2
15            16     Rini              2  ...        4   600000                 1
16            17    Rizki              1  ...        5  1000000                 3
17            18     Sari              2  ...        2   500000                 1
18            19     Tyas              2  ...        4   400000                 3
19            20    Wahyu              1  ...        3   600000                 1

[20 rows x 9 columns]
600000.0
600000.0

modus

In [19]:
# Melihat jumlah dari masing-masing produk
print(raw_data['Produk'].value_counts())

D    5
A    4
B    4
C    4
E    3
Name: Produk, dtype: int64

Kuantil

Kuantil adalah nilai-nilai data yang membagi data yang telah diurutkan sebelumnya menjadi beberapa bagian yang sama besar ukurannya. Beberapa ukuran fraktil ini diantaranya adalah:

   1.  Kuartil: Adalah kuantil yang membagi data menjadi empat bagian sama besar. Kuartil ke-2 dari adalah median dari data tersebut.
   2.  Desil: Adalah kuantil yang membagi data menjadi 10 bagian sama besar.
    Persentil: Adalah kuantil yang membagi data menjadi 100 bagian sama besar.

In [20]:
# mencari median atau 50% dari data menggunakan pandas
print(raw_data['Pendapatan'].quantile(q = 0.5))
 
# mencari median atau 50% dari data menggunakan pandas
print(np.quantile(raw_data['Pendapatan'], q=0.5))

875000.0
875000.0


Agregasi Data dengan method .agg()

Ada kalanya kita ingin menghitung sekaligus beberapa ukuran, misalnya menghitung nilai mean sekaligus menghitung nilai median. Kita dapat melakukan kedua hal tersebut dengan menggunakan method .agg() pada objek pandas DataFrame

In [23]:
# menghitung rerata dan median 'Pendapatan' dan 'Harga'
print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))
 
# menghitung rerata dan median Pendapatan dan Harga dari tiap produk
print(raw_data[['Pendapatan', 'Harga', 'Produk']].groupby('Produk').agg([np.mean, np.median]))

        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0
       Pendapatan            Harga
             mean   median    mean  median
Produk
A          550000   600000  100000  100000
B          875000   875000  150000  150000
C          850000   900000  200000  200000
D         2100000  1200000  250000  250000
E         1200000  1100000  300000  300000

Ukuran Sebaran (Measures of Dispersion)

Ukuran sebaran (measure of dispersion) adalah statistika deskriptif yang digunakan untuk membantu kita memahami sebaran titik data di dalam sebuah sampel ataupun populasi.

Terdapat beberapa ukuran sebaran yang biasanya digunakan tergantung pada jenis atau tipe datanya, yaitu:

    Tipe Data Nominal dan Ordinal
        Proporsi Kategori (Categorical Proportion)
        Persen Proporsi (Percent Proportion)
        Rasio Variasi (Variation Ratio)
    Tipe Data Interval dan Rasio
        Rentang (Range)
        Variansi (Variance)
        Deviasi Baku (Standard Deviation)

Proporsi Kategori

Proporsi kategori adalah ukuran sebaran yang paling sederhana dari ukuran sebaran pada data nomisal dan ordinal.

In [24]:
# cari proporsi tiap Produk
print (raw_data['Produk'].value_counts()/raw_data.shape[0])

D    0.25
A    0.20
B    0.20
C    0.20
E    0.15
Name: Produk, dtype: float64

Ukuran Sebaran pada Data Interval dan Rasio
Rentang (range)

Rentang adalah jarak antara nilai maksimum dengan nilai minimum. Semakin besar jarang antara nilai maksimum dan minimum semakin besar pula sebaran datanya

In [26]:
# Cari nilai rentang dari kolom 'Pendapatan'
print (raw_data['Pendapatan'].max() - raw_data['Pendapatan'].min())

6050000

Variansi

Variansi adalah ukuran sebaran pusat yang diperoleh dengan cara menghitung jarak antara tiap titik data pada sampel atau populasi dengan nilai mean.

In [27]:
# menghitung variansi umur menggunakan method .var() dari pandas
print (raw_data['Pendapatan'].var())
 
# menghitung variansi umur menggunakan method .var() dari numpy
print (np.var(raw_data['Pendapatan']))

# mengatur variansi populasi dengan method `.var()` dari pandas
print (raw_data['Pendapatan'].var(ddof=0))

1645684210526.3157
1563400000000.0
1563400000000.0

Deviasi Baku (Standard Deviation)

Deviasi baku adalah ukuran sebaran pusat yang diperoleh dengan cara menarik akar kuadrat dari hasil perhitungan variansi. Hal ini dilakukan karena nilai variansi umumnya memiliki nilai yang lebih besar daripada nilai aslinya sebagai efek dari pengkuadratan dan ini menjadikan variansi sulit untuk diinterpretasikan.

In [28]:
# menghitung deviasi baku sampel pendapatan menggunakan method std() dari pandas
print (raw_data['Pendapatan'].std())
 
# menghitung deviasi baku sampel pendapatan menggunakan method std() dari numpy
print (np.std(raw_data['Pendapatan'], ddof = 1))

1282842.2391417876
1282842.2391417876

Korelasi

Korelasi adalah salah satu metode statistika yang dapat digunakan untuk mengukur seberapa besar hubungan antara satu variabel dengan variabel lainnya. Sebagai contoh, misalnya mencari hubungan antara tinggi badan dengan berat badan, mencari hubungan antara gender dengan penghasilan dan masih banyak aplikasi penggunaan korelasi.

Terdapat beberapa metode yang dapat digunakan untuk menghitung korelasi antara sepasang variabel tergantung tipe dari sepasang variabel tersebut. Diantaranya adalah:

    1. Korelasi Pearson
    2. Korelasi Spearman
    3. Korelasi Kendall

Menghitung Korelasi

Untuk menghitung korelasi antara kedua variabel, kita dapat menggunakan method .corr() dari pandas

In [29]:
# menghitung korelasi dari setiap pasang variabel pada raw_data
print (raw_data.corr())

# mencari korelasi 'kendall' untuk tiap pasang variabel
print (raw_data.corr(method='kendall'))
 
# mencari korelasi 'spearman' untuk tiap pasang variabel
print (raw_data.corr(method='spearman'))

                  ID Pelanggan  Jenis Kelamin  ...     Total  Tingkat Kepuasan
ID Pelanggan          1.000000       0.151375  ... -0.039968         -0.245717
Jenis Kelamin         0.151375       1.000000  ...  0.238051         -0.088339
Pendapatan            0.110958       0.192849  ...  0.592044         -0.312663
Harga                -0.028707       0.457555  ...  0.645455         -0.380798
Jumlah                0.011289      -0.104168  ...  0.636097          0.017568
Total                -0.039968       0.238051  ...  1.000000         -0.268345
Tingkat Kepuasan     -0.245717      -0.088339  ... -0.268345          1.000000

[7 rows x 7 columns]
                  ID Pelanggan  Jenis Kelamin  ...     Total  Tingkat Kepuasan
ID Pelanggan          1.000000       0.126650  ... -0.065998         -0.183817
Jenis Kelamin         0.126650       1.000000  ...  0.190245         -0.085796
Pendapatan           -0.054998       0.190245  ...  0.988506         -0.165588
Harga                -0.005753       0.415339  ...  0.535078         -0.325659
Jumlah                0.024016      -0.090299  ...  0.501925         -0.028923
Total                -0.065998       0.190245  ...  1.000000         -0.165588
Tingkat Kepuasan     -0.183817      -0.085796  ... -0.165588          1.000000

[7 rows x 7 columns]
                  ID Pelanggan  Jenis Kelamin  ...     Total  Tingkat Kepuasan
ID Pelanggan          1.000000       0.151375  ... -0.069779         -0.238890
Jenis Kelamin         0.151375       1.000000  ...  0.219508         -0.090784
Pendapatan           -0.063711       0.219508  ...  0.998470         -0.192463
Harga                -0.039149       0.463635  ...  0.646194         -0.378933
Jumlah                0.046356      -0.098864  ...  0.607110         -0.023874
Total                -0.069779       0.219508  ...  1.000000         -0.192463
Tingkat Kepuasan     -0.238890      -0.090784  ... -0.192463          1.000000

[7 rows x 7 columns]