In [3]:
#import library yang dibutuhkan
import pandas as pd 
import requests
from bs4 import BeautifulSoup

#buatlah request ke website
website_url = requests.get('https://id.wikipedia.org/wiki/Demografi_Indonesia').text
soup = BeautifulSoup(website_url, 'lxml')

#ambil table dengan class 'wikitable sortable'
my_table = soup.find('table',{'class':'wikitable sortable'})

#cari data dengan tag 'td'
links = my_table.findAll('td')

#buatlah lists kosong 
kode_bps = []
nama = []
ibu_kota = []
populasi = []
luas_km = []
pulau = []

#memasukkan data ke dalam list berdasarkan pola HTML
for i, link in enumerate(links):
  if i in range(0, len(links), 9):
  	kode_bps.append(link.get_text())
  if i in range(2, len(links), 9):
  	nama.append(link.get_text())
  if i in range(4, len(links), 9):
  	ibu_kota.append(link.get_text())
  if i in range(5, len(links), 9):
  	populasi.append(link.get_text())
  if i in range(6, len(links), 9):
  	luas_km.append(link.get_text())
  if i in range(8, len(links), 9):
  	pulau.append(link.get_text()[:-1])

#buatlah DataFrame dan masukkan ke CSV
df = pd.DataFrame()
df['Kode BPS'] = kode_bps
df['Nama'] = nama
df['Ibu Kota'] = ibu_kota
df['Populasi'] = populasi
df['Luas km'] = luas_km
df['Pulau'] = pulau
df.to_csv('Indonesia_Demography_by_Province.csv', index=False, encoding='utf-8', quoting=1)

In [4]:
df.head()

  Kode BPS           Nama    Ibu Kota    Populasi    Luas km    Pulau
0       11           Aceh  Banda Aceh   4.494.410  56.500,51  Sumatra
1       12  Sumatra Utara       Medan  12.982.204  72.427,81  Sumatra
2       13  Sumatra Barat      Padang   4.846.909  42.224,65  Sumatra
3       14           Riau   Pekanbaru   5.538.367  87.844,23  Sumatra
4       15          Jambi       Jambi   3.092.265  45.348,49  Sumatra

Function and Regular Expression

In [8]:
#import library yang dibutuhkan
import re

#function email_check
def email_check(input):
	match = re.search('(?=^((?!-).)*$)(?=[^0-9])((?=^((?!\.\d).)*$)|(?=.*_))',input)
	if match:
		print('Pass')
	else:
		print('Not Pass')

#Masukkan data email ke dalam list
emails = ['my-name@someemail.com', 'myname@someemail.com','my.name@someemail.com',
'my.name2019@someemail.com', 'my.name.2019@someemail.com',
'somename.201903@someemail.com','my_name.201903@someemail.com',
'201903myname@someemail.com', '201903.myname@someemail.com']

#Looping untuk pengecekan Pass atau Not Pass
for email in emails :
	email_check(email)

Not Pass
Pass
Pass
Pass
Not Pass
Not Pass
Pass
Not Pass
Not Pass